.pendingTodos{
    background-color: blueviolet;
    width: 700px;
    margin-left: 10px;
    margin-bottom: 15px;
    height: 4vh;
}
.todo-task {
    display:inline-block;
    margin-right:5px;
    height: 4vh;
    width: 640px;
}
.todo-btn {
    display:inline-block;
    margin-right:0;
    margin-left: 25px;
    height: 4vh;
    width: 25px;
}
.title{
    color:white;
}
@media (max-width:500px){
.pendingTodos{
    background-color: blueviolet;
    max-width: 270px;
    margin-left: 7px;
    margin-bottom: 15px;
    height: 4vh;
}

.todo-task {
    display:inline-block;
    margin-right:5px;
    height: 4vh;
    max-width: 230px;
}
.todo-btn {
    display:inline-block;
    margin-right:0;
    margin-left: 2px;
    height: 4vh;
    width: 25px;
}
}