.pendingTodos{
    background-color: blueviolet;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 15px;


}
.title{
    color:white;
}
@media (max-width:500px){
    .pendingTodos{
        background-color: blueviolet;
        width: 200px;
        margin-left: 7px;
        margin-bottom: 15px;

    
    }
}
.todo-task {
    display:inline-block;
    margin-right:5px;
}
.todo-btn {
    display:inline-block;
    margin-right:0;
}