.product-container{
    display: inline-block;
    width: 220px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: azure;
}
.product-container p{
    display: inline-block;
    background-color: chocolate;
    padding: 10px;
    font-size: 13px;
}
.product-container img{
    margin: 10px;
    height: 225px;
    width: 180px;
}
.product-container h5{
   color: black;
   font-weight: 700;
}
.product-container div.button{

        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0), 5px 5px 15px 5px rgba(0,0,0,0);
}
.qp-button{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
.qp-button {
    margin-left: 15px;
}
.title{
    font-size: 15px;
}